@font-face {
  font-family: 'Glacial Indifference';
  src: url(./style/Glacial\ Indifference/GlacialIndifference.otf);
}

@font-face {
  font-family: 'Raleway';
  src: url(/font/style/Raleway/Raleway-Medium.ttf.)
}