@font-face {
  font-family: 'Glacial Indifference';
  src: url(/src/style/Fonts/Glacial\ Indifference/GlacialIndifference.otf);

  font-family: 'Raleway';
  src: url(/src/style/Fonts/style/Raleway/Raleway.ttf);
}